* {
  padding: 0;
  margin: 0;
  /* transition: all 1s ease-in-out; */
}

body {
  font-family: "Netflix-sans", "poppins";
  background-color: #00081d;
  color: white;
  /* background-image: linear-gradient(
      65.68deg,
      rgba(0, 8, 29, 0.6) 9.51%,
      rgba(53, 13, 49, 0.6) 72.89%,
      rgba(132, 5, 25, 0.6) 101.01%
    ),
    linear-gradient(
      102.21deg,
      rgba(0, 0, 0, 0.04) 16.09%,
      rgba(1, 1, 1, 0.17) 39.27%,
      rgba(1, 1, 1, 0.24) 64.25%,
      rgba(4, 4, 4, 0.8) 96.63%
    ),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/70805ddd-f38c-4e25-94cd-b5015e444ee0/1f8bf493-1be8-440e-b5ac-1b2985346176/NG-en-20230508-popsignuptwoweeks-perspective_alpha_website_large.jpg); */
}
/* .container{
    width: 100%;
} */
.nav {
  margin: 24px 0px 24px 0px;
  /* padding: 48px; */
}
.all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.logo {
  width: 9.25rem;
  height: 2.5rem;
  color: rgba(229, 9, 20, 1);
  fill: currentColor;
  display: block;
  margin-right: 950px;
}

.signin_btn {
  padding: 3px;
}
.signin_btn .fbtn-1 {
  background-color: rgb(229, 9, 20);
  color: white;
  border: none;
  font-size: 16px;
  padding: 7px 12px;
  border-radius: 5px;
}
.banner {
  width: 1268px;
  min-height: 100vh;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      65.68deg,
      rgba(0, 8, 29, 0.6) 9.51%,
      rgba(53, 13, 49, 0.6) 72.89%,
      rgba(132, 5, 25, 0.6) 101.01%
    ),
    linear-gradient(
      102.21deg,
      rgba(0, 0, 0, 0.04) 16.09%,
      rgba(1, 1, 1, 0.17) 39.27%,
      rgba(1, 1, 1, 0.24) 64.25%,
      rgba(4, 4, 4, 0.8) 96.63%
    ),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/70805ddd-f38c-4e25-94cd-b5015e444ee0/1f8bf493-1be8-440e-b5ac-1b2985346176/NG-en-20230508-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}
.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner h1 {
  font-size: 64px;
}
.text-container {
  width: 100%;
  height: auto;
}
.text-content {
  /* display: flex; */
  padding: 90px 100px 100px;
  /* justify-content: center;
  align-items: center; */
  text-align: left;
}

.txt {
  margin-top: 16px;
}
.txt p {
  font-size: 24px;
  font-weight: 500;
}
.txt h3 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 16px;
}

.get-started {
  display: flex;
  margin-top: 16px;
}
.box {
  display: block;
  width: 100%;
  padding-top: 16px;
}

/* .type-text{
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    max-width: 61rem;
    padding: 1rem 1rem .5rem;
} */
input {
  /* border: none; */
  border: 1px solid rgb(253, 253, 253);
  border-radius: 5px;
  width: 376px;
  height: 56px;
  font-size: 16px;
  background-color: transparent;
  padding-left: 20px;
}
input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
}

.fbtn-2 {
  width: 201px;
  height: 56px;
  border-radius: 5px;
}
.user-input,
button {
  display: flex;
  align-items: center;
}

.fbtn-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 9, 20);
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.sign-in1 {
  color: white;
  display: absolute;
  top: 1;
}
.ico {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s1 {
  padding: 12px 136px;
}
.s1all {
  display: flex;
  align-items: center;
}
.s1all .s1-head {
  font-size: 48px;
  font-weight: 900;
}

.s1all .s1-head2 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
}

.s1all img {
  width: 48%;
  height: auto;
  position: relative;
  top: 0;
  left: 10px;
}

.body2 {
  margin-top: 52px;
}
.faq-head1 {
  font-size: 40px;
  font-weight: 700;
}

.faq-q {
  margin-bottom: 8px;
  color: white;
  width: 1053px;
  height: 84px;
  background-color: rgba(19, 33, 68, 1);
}

.for_buttons ul li {
  list-style-type: none;
}

.faq-q button {
  background-color: transparent;
  border: none;
  color: white;
}

._svg {
  color: white;
}

